body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111;
    color:#fff;
}

header{
    background:#000;
    border-bottom:2px solid gold;
    padding:20px;
    text-align:center;
}

h1{
    color:gold;
}

.btn{
    background:gold;
    color:black;
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.founder{
padding:60px 20px;
text-align:center;
max-width:900px;
margin:auto;
}

.founder h2{
color:gold;
margin-bottom:20px;
}

.founder img{
width:250px;
border-radius:15px;
margin-bottom:20px;
}
.founder p{
font-size:18px;
line-height:1.8;
}
.contact{
padding:60px 20px;
text-align:center;
}

.contact h2{
color:gold;
margin-bottom:20px;
}

.contact p{
font-size:18px;
margin:10px 0;
}

.founder p{
font-size:18px;
line-height:1.8;
}
